table {
  width: 450px;
  border-collapse: collapse;
}
tbody {
  border: 3px #ea00ff double;
}
.yellow {
  background-color: #ffd900;
}
.white {
  background-color: white;
}
.blue {
  background-color: #2200fd;
}
.black {
  background-color: black;
}
.grey {
    background-color: grey;
}
td {
  height: 30px;
  width: 30px;
}
tr:nth-last-child(1){
    background-color: green;
}
@media only screen and (max-width: 750px){
  

}
   
